label {
    margin-left: 10px;
    display: flex;
    font-size: 22px;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 60px;
    width: 600px;
    background: #fff;
    align-items: center; 
    border-radius: 60px;
}

.next-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 59px;
    background:rgb(76, 228, 228) ;
    color:rgb(0, 0, 0);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor:pointer;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.text {
    text-align: center;
    color: pink;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: purple;
    border-radius: 9px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 70%;
}

.input {
    display: flex;
    padding-left: 20px;
    align-items: center;
    margin: auto;
    width: 100%; 
    max-width: 700px; 
    height: 60px;
    background: lightcyan;
    border-radius: 20px;
}

.input img {
    margin: 0px 60px;
}

.input input {
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #333; 
    font-size: 19px;
}

.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color:rgb(0, 0, 0);
    background: lightcyan;
    font-size: 19px;
    border: none;
}

.social-media-dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 70%;
    color:rgb(0, 0, 0);
    background: lightcyan;
    font-size: 19px;
    border: none;
    display: flex;

}


.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color:white;
    background: lightpink;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor:pointer;
}