.info-container {
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 80px;
  background-color: #8ef9ff73;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 151, 241, 0.541);
  font-family: Arial, sans-serif;
}

.info-form {
  margin-bottom: 40px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.form-group label {
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
  flex: 1;
}

.form-group input {
  flex: 2;
  padding: 10px;
  border: 1px solid #5000f0;
  border-radius: 5px;
  background-color: #fffdfd;
  font-size: 16px;
}

.bottom-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.review-button {
  background-color: #fdffbd;
  color: rgb(149, 5, 142);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.review-button:hover {
  opacity: 0.8;
}

.social-media-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
}

.social-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #9b59b6; 
  color: white;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.social-icon {
  font-size: 24px;
}

.social-icon-container:hover {
  background-color: #8e44ad; 
  transform: scale(1.1);
}
