label {
    margin-left: 10px;
    display: flex;
    font-size: 22px;
    font-weight: 500;
}
body {
    height:100%;
}

.user-controls {
  
    padding: 0 40px;
    display: flex;
    
}

.logout {
    margin-right: 15px;
    padding: 8px 20px;
    background-color: #5eacff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.logout:hover {
    background-color: #021790;
}
  
  
.profile-icon {
    font-size: 24px;
    color: #333;
    margin-left: 10px;
    cursor: pointer;
}

.top-bar {
    position: fix;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    border-bottom: 2px solid #ddd;
  }

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 600px;
    background: #fff;
    align-items: center; 
    border-radius: 60px;
}

.next-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 59px;
    background:rgb(76, 228, 228) ;
    color:rgb(0, 0, 0);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor:pointer;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.text {
    text-align: center;
    color: pink;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: purple;
    border-radius: 9px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 70%;
}

.input {
    display: flex;
    padding-left: 20px;
    align-items: center;
    margin: auto;
    width: 100%; 
    max-width: 700px; 
    height: 60px;
    background: lightcyan;
    border-radius: 20px;
}


.input input {
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #333; 
    font-size: 19px;
    border-radius: 20px;
}

.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black;
    background: lightcyan;
    font-size: 19px;
    border: none;
    margin-right: 20px;
}

.social-media-dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 70%;
    color:rgb(0, 0, 0);
    background: lightcyan;
    font-size: 19px;
    border: none;
    display: flex;

}


.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.save-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color:white;
    background: lightpink;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor:pointer;
}